snippet checkmark
✓
endsnippet

snippet checkmark_thick
✔
endsnippet

snippet xmark
✖
endsnippet

snippet rtriangle
▶
endsnippet

snippet ltriangle
◀
endsnippet

snippet rarrow
→
endsnippet

snippet larrow
←
endsnippet

snippet rarrow_double
⇒
endsnippet

snippet larrow_double
⇐
endsnippet

